body {
  overflow: auto;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  margin: 20px;
  justify-items: stretch;
  align-items: start;
}

.results {
  overflow: hidden;
}

.bookInfo {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  height: 280px;
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
}

.bookInfo:hover,
.aboutInfo:hover,
.pageInfo:hover,
.annyangInfo:hover {
  transform: translateY(-5px);
}

.bookInfo img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.bookInfo p {
  color: darkslategrey;
}

#main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

#main-nav li {
  display: inline-block;
  position: relative;
}

#main-nav li:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

#main-nav ul li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

#main-nav a {
  color: white;
  text-decoration: none;
}

.bookShelfName {
  text-align: center;
  color: white;
}

#canvas-basic {
  position: fixed;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  min-height: 100%;
}

.pageTitle {
  margin-top: 70px;
  text-align: center;
  color: white;
}

#annyangButton {
  background: none;
  border: none;
  padding: 0;
  margin-right: 5%;
  cursor: pointer;
}

#annyangButton img {
  width: 40px;
  height: 40px;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  width: 50%;
  height: 45px;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 0 55px 0 25px;
  justify-content: center;
  align-items: center;
}

#searchButton {
  background: none;
  border: none;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
}

#searchButton img {
  width: 40px;
  height: 40px;
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #380036;
  background-image: linear-gradient(
    45deg,
    #7f5a83 0%,
    #0d324d 51%,
    #4c4177 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px auto;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.aboutInfo,
.pageInfo,
.annyangInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  margin: 10px;
  border-radius: 20px;
  transition: transform 0.2s;
  background-color: white;
}

#about {
  text-align: center;
  width: 50%;
}

#pages,
#annyang {
  width: 50%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 10px;
}

.bookDisplay {
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.loader {
  border: 16px solid white;
  border-top: 16px solid skyblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
