body {
  overflow: auto;
  background-color: black;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  margin: 20px;
  justify-items: stretch;
  align-items: start;
}

.bookInfo {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  height: 280px;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.bookInfo:hover {
  transform: translateY(-5px);
}

.bookInfo img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

.bookInfo p {
  color: darkslategrey;
}

#spinner {
  display: none;
}

#main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(40px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

#main-nav li {
  display: inline-block;
  position: relative;
}

#main-nav li:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

#main-nav ul li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

#main-nav a {
  color: white;
  text-decoration: none;
}

.bookShelfName {
  text-align: center;
}

#canvas-basic {
  position: fixed;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  min-height: 100%;
}

.pageTitle {
  margin-top: 70px;
  text-align: center;
  color: white;
}

#annyangButton {
  background: none;
  border: none;
  padding: 0;
  margin-right: 5%;
}
